*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 60px 1fr;
  justify-content: center;
  background-color: #dfc393;
  align-items: center;
  text-align: center;
}
h1 {
    font-size: 2.5em;
    color: #98633B;
}
.nav-bar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding: 5px;
}
.nav-link {
    padding: 10px;
    margin-left: 20px;
    font-size: 1.5em;
    font-weight: bold;
    color: #42291A;
    cursor: pointer;
}
.nav-link.active {
    border-bottom: 2px solid #444;
}
.root {
    display: flex;
    justify-content: center;
    align-items: center;
}
.piano {
    display: flex;
    justify-content: center;
  }
  
  .key {
    height: calc(var(--width) * 4);
    width: var(--width);
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24); 
    transition: 0.2s all; 
  }
  
  .white {
    --width: 100px;
    background-color: white;
    border: 1px solid #333;
  }
  
  .white.active {
    background-color: #CCC;
    transform: scale(0.98); 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
  }
  
  .black {
    --width: 60px;
    background-color: black;
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    z-index: 2;
  }
  
  .black.active {
    background-color: #333;
    transform: scale(0.98); 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
  }
  .recorder-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    margin: 1em auto;
  }
  
  .icon {
    cursor: pointer;
  }
 .icon:hover {
   transform: scale(.9);
 }
  .icon-record {
    width: 50px;
    height: 50px;
    background: red;
    border-radius: 50%;
    border: 10px double #444;
  }
  .icon-play {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-left: 50px solid green;
    border-bottom: 25px solid transparent;
  }

  .icon-stop {
    width: 50px;
    height: 50px;
    background: #333;
  }


  .icon-save {
    position: relative;
    width: 50px;
    height: 45px;
  }
  .icon-save:before,
  .icon-save:after {
    position: absolute;
    content: "";
    left: 25px;
    top: 0;
    width: 25px;
    height: 40px;
    background: red;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
  }
  .icon-save:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
  }
 
.pulse {
  animation-name: pulse_animation;
  animation-duration: 5000ms;
  transform-origin:70% 70%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-color:#e86767;
  border: 10px double #0028ffde;
}
  @keyframes pulse_animation {
    0% { transform: scale(1); }
    30% { transform: scale(.9); }
    40% { transform: scale(.9); }
    50% { transform: scale(1); }
    60% { transform: scale(1); }
    70% { transform: scale(.9); }
    80% { transform: scale(.9); }
    100% { transform: scale(1); }
    
}